<div class="jumbotron shadow-lg">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <h1 class="display-3">Hello, world!</h1>
            <p class="lead">Welcome to notes where you can save your favorite moments and the tasks of everyday life.
            </p>
            <hr class="my-4">
            <p>Bienvenido a notes donde puedes guardar tus momentos favoritos y de las tareas de la vida cotidiana.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
            </p>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6">
            <img src="/img/undraw_dev_focus_b9xo.svg" class="img-fluid" alt="About pages web">
        </div>
    </div>
</div>