<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container">
    <a class="navbar-brand" href="/notes/">Note Tasks </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
      aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/notes/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes/about">About</a>
        </li>

        {{#if user}}
        <li class="nav-item">
           <a class="nav-link" href="/notes/FormAddTasks">Create Tasks</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/notes/AllTasks">View Tasks</a>
        </li>
        <li class="nav-item">
             <a class="nav-link" href="/notes/logout">Logout</a>
        </li>
        {{else }}
        <li class="nav-item">
          <a class="nav-link" href="/notes/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notes/register">Register</a>
        </li>
        {{/if }}

      </ul>
    </div>
  </div>
</nav>